.footer-container {
  width: 100%;
  background-color: #e9f1f1;
}

.footer-content-top {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dark);
}

.footer-content-top-logos {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 30px;
}

.footer-content-top-logos img {
  padding-top: 10px;
}

.footer-content-medium {
  color: var(--color-dark);
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 45px;
}
.footer-content-left {
  height: 100%;
  width: 33%;
}

.footer-content-center {
  height: 100%;
  width: 33%;
}

.footer-content-right {
  height: 100%;
  width: 33%;
}

.footer-content-left-info {
  display: flex;
  flex-direction: column;
}

.footer-content-left-info a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 100;
  color: var(--color-dark);
  transition: all 600ms;
}

.footer-content-left-info a:hover {
  color: var(--color-primary);
}

.footer-content-right-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-content-right-register {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.footer-content-copy {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dark);
}

.footer-content-copy p {
  font-size: 12px;
}

.footer-btn {
  background-color: var(--color-secondary);
  height: 33px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-left: -5px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: all 1000ms;
  font-weight: bold;
}

.footer-btn:hover {
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
}

.footer-input {
  width: 40%;
  height: 22px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid transparent;
}

.footer-input::-webkit-input-placeholder {
  padding-left: 10px;
  font-size: 12px;
}

.footer-social {
  padding-right: 10px;
  cursor: pointer;
  filter: invert(26%) sepia(41%) saturate(385%) hue-rotate(135deg)
    brightness(95%) contrast(84%);
  width: 30px;
  transition: all 600ms;
}

.footer-social:hover {
  filter: invert(36%) sepia(88%) saturate(435%) hue-rotate(136deg)
    brightness(97%) contrast(84%);
  transform: scale(1.2);
}

/*********** MEDIA QUERIES (MEDIUM DEVICES ************/
@media screen and (max-width: 1180px) {
  .footer-btn {
    display: none;
  }

  .footer-input {
    display: none;
  }
}

/*********** MEDIA QUERIES (SMALL DEVICES ************/
@media screen and (max-width: 600px) {
  .footer-btn {
    display: none;
  }

  .footer-input {
    display: none;
  }

  .footer-content-medium {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-content-right-info {
    justify-content: center;
  }
  .footer-social {
    width: 20px;
  }
}
