body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --color-bg: #363839;
  --color-primary: #1a858e;
  --color-secondary: #74b62e;
  --color-dark: #355456;
  --color-light: #e9f1f1;
}
